@use "../../../../styles/responsiveness.scss";


.conflictNav{

    padding: 20px 30px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    gap: 5px;

    @include responsiveness.small{
        padding: 10px;
    }

    @include responsiveness.medium{
        padding: 20px;
    }


    .link{
        display: flex;
        gap : 5px ;
        color : #01a876;

        P{
            font-size: 18px;

            @include responsiveness.small{
                font-size: 12px;
            }
            @include responsiveness.medium{
                font-size: 16px;
            }
          
        }

        & .icon{
            font-size: 18px;

            @include responsiveness.small{
                font-size: 12px;
            }
            @include responsiveness.medium{
                font-size: 16px;
            }
        }

    }

    span{
        color: #4a5566 ;
        font-size: 18px;

        @include responsiveness.small{
            font-size: 12px;
        }
          @include responsiveness.medium{
            font-size: 16px;
        }
    }
}

.conflict{

 color : black;
    display: flex;
    padding: 30px;
    gap: 30px;


    @include responsiveness.small{
        padding:10px;
        
    }
    @include responsiveness.medium{
        padding:20px;
        gap: 20px;
    }
  
    


    .main{
        flex : 4;
        display : flex;
        flex-direction: column;
        gap: 30px;

        @include responsiveness.small{
            width: 100%;
            flex: none;
            gap: 10px;
        }
          @include responsiveness.medium{
            flex: 2.5;
            gap: 30px;
        }


        h1{
            font-size: 26px;

           @include responsiveness.small{
                font-size: 18px;
            }
            @include responsiveness.medium{
                font-size: 24px;
            }
        }

        h3{
            font-size: 24px;

        
             @include responsiveness.small{
                font-size: 14px;
            }
            @include responsiveness.medium{
                font-size: 20px;
            }
        }

        P{
            font-size: 18px;
            line-height: 1.6;
            color: #4a5566;

            @include responsiveness.small{
                font-size: 12px;
            }
            @include responsiveness.medium{
                font-size: 16px;
            }
        }
    }

    .side {

      flex: 1;

        h3 {
            font-size: 24px;

            @include responsiveness.medium{
                font-size: 22px;
            }
        }

        ul {
            list-style-type: none;

            li {
                margin: 40px 10px;
                font-size: 20px;

                 &.conflictClicked{
                    background-color: #d4d5e0;
                    border-left: 4px solid #555866;
                    padding: 10px;
                    color: #666973;
                }

                @include responsiveness.medium{
                    margin: 25px 5px;
                    font-size: 16px;
                }

            }
        }

    }
    }