@use "../../../styles/responsiveness.scss";

.license{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #1c1b21;
    color: #4a5566;
    padding: 50px 20px;
    
    @include responsiveness.small{
        padding: 20px 5px;
    }

    @include responsiveness.medium{
        padding: 50px 20px;
    }


    .top{
        display: flex;
        gap: 50px;
        align-items: center;
        


        @include responsiveness.small{
            gap: 20px;
            flex-direction: column;
        } 

        .left{
            flex: 0.5;    
            
            @include responsiveness.medium{
                display: none;
            }

         
            img{
                width: 100%;


                @include responsiveness.small{
                    width: 30%;
                }
              

            }

        }
        .right{
            flex: 4;
            display: flex;
            gap: 10px;
            align-items: center;

            @include responsiveness.small{
              align-items: flex-start;
               flex: none;
               flex-direction: column;
            }

            @include responsiveness.medium{
                align-items: center;
            }


            h3{

                font-size: 20px;
            
                @include responsiveness.small{
                    font-size: 12px;
                    flex: 0.2;
                }
                @include responsiveness.medium{
                    font-size: 16px;
                }
            }

        

            .regulations{
                display: flex;
                width: 90%;
           

                @include responsiveness.small{
                    width: 100%;
                    flex-wrap: wrap;
                    gap: 20px;
                }

                @include responsiveness.medium{
                    gap: 10px;
                }

            }
            .regulation{
                color: white;
                display: flex;
                align-items: center;
                width: 30%;
                font-weight: 500;
                font-size: 18px;
                gap: 5px;  
                padding: 0px; 

                @include responsiveness.medium{
                    font-size: 16px;
                    width: 24%;
                }


                @include responsiveness.small{
                    font-size: 12px;    
                    width: 40%;
                    
                }

                img{
                    width: 12%;

                    @include responsiveness.small{
                        width: 10%;
                    }
                }

              

                &.small{
                    width: 15%;

                    @include responsiveness.small{
                        width : 15%;
                    }
                    @include responsiveness.medium{
                        width : 10%;
                    }

                    img{

                        width: 20%;

                        @include responsiveness.small{
                            width: 25%;
                        }
                          @include responsiveness.medium{
                            width: 25%;
                        }
                    }

                }

            }

        }

    }

    .middle{
        display: flex;
        flex-direction: column;
        gap: 20px;
        

        .first-row{
            display: flex;
            align-items: center;

            .left{

                flex: 1.3;
                font-size: 20px;
                
                @include responsiveness.small{
                    flex: 2.5;
                    font-size: 8px;
                }

                @include responsiveness.medium{
                    flex: 1;
                    font-size: 16px;

                }
            }
    
    
            .right{
                display: flex;
                justify-content: space-between;
                flex: 4;
                gap: 5px;

                @include responsiveness.small{
                   width: 100%;
                   flex :6;
                }

                @include responsiveness.medium{
                    flex:2.5;
                }

                img{
                    width: 70%;       
                    @include responsiveness.small{
                        width: 100%;
                    }

                    @include responsiveness.medium{
                        width: 90%;
                    }
                }

                .liquidityProvider{
                    @include responsiveness.small{
                        display: flex;
                        align-items: center;
                    }
                }

               
            }

        }
        .second-row{
            display: flex;
            align-items: center;

            .left{
                flex: 0.7;
                font-size: 20px;

                @include responsiveness.small{
                    font-size: 8px;
                    flex: 0.7;
                }
                @include responsiveness.medium{
                    font-size: 16px;
                    flex: 1;
                }
            }
            .right{
                flex: 1;

                @include responsiveness.small{
                    flex: 0.2;
                }

                @include responsiveness.medium{
                    flex: 1;
                }

                img{
                    width: 5%;

                    @include responsiveness.small{
                        width: 40%;
                    }
                    @include responsiveness.medium{
                        width: 12%;
                    }
                }
            }

        }
        .third-row{
            display: flex;
            font-size: 20px;

            h3{
                @include responsiveness.small{
                    font-size: 8px;
                }
                @include responsiveness.medium{
                    font-size: 16px;
                }
            }
        }

      

    }
    .bottom{
        line-height: 2;
        font-size: 18px;

        @include responsiveness.small{
            line-height: 1.5;
            font-size: 12px;
        }

        @include responsiveness.medium{
            font-size: 16px;
        }


        .terms-conditions{
            color: #049358;
            &:hover{
                text-decoration: underline;
            }
        }
        .risk-disclosure{
            color: #049358;
            &:hover{
                text-decoration: underline;
            }
        }

    }
}