@use "../../../../styles/responsiveness.scss";



.adminTransaction{

    color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    gap: 20px;

    @include responsiveness.small{
        gap: 20px;
        padding: 20px;
    }

  form{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);


    @include responsiveness.small{
        width: 100%;
        padding: 20px 10px;
    }

    h1{
      font-size: 22px;
      text-align: center;

        @include responsiveness.small{
            font-size: 18px;
        }
    }

    p{
      font-size: 14px;
        color: #666;
        text-align: center;

      @include responsiveness.small{
        font-size: 12px;
      }
      &.success {
        color: #2a9d8f;
        font-weight: 700;
        margin-top: 15px;
        font-size: 14px;

        @include responsiveness.small{
            font-size: 12px;
        }
      }
      &.fail {
        color: #e63946;
        margin-top: 15px;
        font-weight: 700;
        font-size: 14px;

          @include responsiveness.small{
            font-size: 12px;
        }
      }
    }
   

    }

    .row{
      display: flex;
      gap: 10px;

        
    }


  
        @include responsiveness.small{

            .MuiInputBase-input {
              font-size: 14px
            }

            .MuiInputLabel-root {
              font-size: 14px;
            }
        }

  
      }
  
    
          button {
          margin-top: 10px;
          border: 1px solid black;
          background-color: white;
          padding: 14px;
          border-radius: 8px;
      
          color: black ;
          cursor: pointer;

          @include responsiveness.small{
            font-size: 12px;
            padding: 10px;
          }

        &:hover {
          background-color: black;
          color: white;
        }
      }

     
    
