@use "../../../../styles/responsiveness.scss";

.paymentNav{

   padding: 20px 30px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    gap: 5px;

    @include responsiveness.small{
        padding: 10px;
    }

    @include responsiveness.medium{
        padding: 20px;
    }


    .link{
        display: flex;
        gap : 5px ;
        color : #01a876;

        P{
            font-size: 18px;

            @include responsiveness.small{
                font-size: 12px;
            }
            @include responsiveness.medium{
                font-size: 16px;
            }
          
        }

        & .icon{
            font-size: 18px;

            @include responsiveness.small{
                font-size: 12px;
            }
            @include responsiveness.medium{
                font-size: 16px;
            }
        }

    }

    span{
        color: #4a5566 ;
        font-size: 18px;

        @include responsiveness.small{
            font-size: 12px;
        }
          @include responsiveness.medium{
            font-size: 16px;
        }
    }
}





.payment {
    color: black;
    display: flex;
    padding: 30px;
    gap: 30px;


   @include responsiveness.small{
        padding:10px;
    }
    @include responsiveness.medium{
        padding: 20px;
        gap: 20px;
    }

    .main {
        display: flex;
        flex-direction: column;
        gap: 30px;
        flex: 4;


        @include responsiveness.small{
            width: 100%;
            flex: none;
            gap: 10px;
        }

        @include responsiveness.medium{
            flex: 2;
            gap: 20px;
        }

        h1 {
            font-size: 26px;
             color: black;


            @include responsiveness.small{
                font-size: 18px;
            }

            @include responsiveness.medium{
                font-size: 24px;
            }
        }

        .paymentMethods {
            display: flex;
            gap: 30px;

            @include responsiveness.small{
                gap: 20px;
                flex-direction: column;
            }
            @include responsiveness.medium{
                gap: 20px;
            }

            .paymentMethod {
                display: flex;
                flex-direction: column;
                gap: 50px;
                flex: 1;

                @include responsiveness.small{
                    gap: 10px;
                }
                @include responsiveness.medium{
                    gap: 30px;
                }

                .accordion {
                    padding: 15px;
                    box-shadow: 0px 0px 10px black;
                    border-radius: 10px;

                    @include responsiveness.small{
                        padding: 5px;
                    }
                    @include responsiveness.medium{
                        padding: 10px;
                    }

                    &:hover {
                        box-shadow: 0px 0px 20px black;

                    }

                    .typography {
                        display: flex;
                        gap: 15px;
                        align-items: center;

                        @include responsiveness.small{
                            gap: 10px;
                        }
                       

                        .mainText {
                            gap: 10px;
                            font-size: 18px;
                            width: 100%;
                            border-left: 1px solid #4a5566;
                            padding-left: 30px;

                            @include responsiveness.small{
                                font-size: 14px;
                                padding-left: 10px;
                            }

                            @include responsiveness.medium{
                                font-size: 16px;
                                padding-left: 20px;
                            }
                        }

                        .mainImg {
                            height: 70px;
                            width: 70px;

                            @include responsiveness.small{
                                height: 35px;
                                width: 35px;
                            }
                            @include responsiveness.medium{
                                height: 50px;
                                width: 50px;
                            }
                        }



                    }

                    .accordionDetails {
                        color: #4a5566;
                        line-height: 1.5;
                        font-size: 18px;

                        @include responsiveness.small{
                            font-size: 12px;
                        }
                        @include responsiveness.medium{
                            font-size: 16px;
                        }
                    }

                    .depositButton {
                        display: flex;
                        gap: 10px;
                        font-size: 18px;

                        

                        @include responsiveness.small{
                            font-size: 12px;
                        }
                        @include responsiveness.medium{
                            font-size: 16px;
                        }

                        img{

                            height : 25px;
                            width : 25px;

                        }

                        &:hover {
                            background-color: white;
                        }
                    }


                }

            }
        }
    }




    .side {

        flex: 1;

           @include responsiveness.small{
                display: none;
            }


        h3 {
            font-size: 24px;

            @include responsiveness.medium{
                font-size: 22px;
            }
        }

        ul {
            list-style-type: none;

            li{
                margin : 40px 10px ;
                font-size: 18px;

                   &.paymentClicked{
                    background-color: #d4d5e0;
                    border-left: 4px solid #555866;
                    padding: 10px;
                    color: #666973;

                }

                 @include responsiveness.medium{
                    margin: 25px 5px;
                    font-size: 16px;
                }

            }
        }

    }
}