@use "../../../styles/responsiveness.scss";


.adminLogin {
  background:  #2e214a;
  color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  .login-card {
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    width: 30%;
    text-align: center;

    @include responsiveness.small{
        padding: 20px;
        width: 80%;
    }
    @include responsiveness.medium{
        width: 50%;
    }

    .logo img {
      width:150px;
      height: 45px;
      margin-bottom: 20px;

        @include responsiveness.small{
        height: 35px;
        width: 100px;
      }
    }

    .title {
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 8px;

      @include responsiveness.small{
        font-size: 18px;
      }
    }

    .subtitle {
      font-size: 16px;
      color: #666;
      margin-bottom: 30px;

      @include responsiveness.small{
        font-size: 12px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @include responsiveness.small{
        gap: 15px;
      }

      .inputGroup {
        text-align: left;
    

        label {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 20px;
          display: block;

          @include responsiveness.small{
            font-size: 12px;
            margin-bottom: 10px;
          }
        }

        input {
          width: 100%;
          padding: 20px;
          box-sizing: border-box;
          border-radius: 8px;
          border: 1px solid #ccc;
          font-size: 16px;
          transition: border 0.2s, box-shadow 0.2s;

          @include responsiveness.small{
            padding: 10px;
            font-size: 12px;
          }

          &:focus {
            border-color: #4081b8;
            box-shadow: 0 0 6px rgba(64, 129, 184, 0.4);
            outline: none;
          }
        }
      }

      .passwordInput {
        position: relative;
        width: 100%;

        .toggleIcon {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          color: #666;

          &:hover {
            color: #4081b8;
          }
        }
      }

      .error {
        color: #e63946;
        font-size: 14px;


        @include responsiveness.small{
            font-size: 12px;
        }
      }

      .loginBtn {
        background: #4081b8;
        color: #fff;
        padding: 14px ;
        font-size: 16px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        transition: background 0.3s;
        width: 100%;

        @include responsiveness.small{
            font-size: 14px;
            padding: 10px;
        }

        &:hover {
          background: #30618a;
        }
      }

      .extraLinks {
        font-size: 14px;
        margin-top: 10px;


        @include responsiveness.small{
            font-size: 12px;
        }

        p{
            margin-bottom: 20px;

            @include responsiveness.small{
                margin-bottom: 10px;
            }
        }

        .link {
          color: #4081b8;
          font-weight: 500;
          text-decoration: none;
          margin-bottom: 50px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    footer {
      font-size: 12px;
      color: #999;
      margin-top: 20px;
    }
  }
}
 
