@use "../../../styles/responsiveness.scss";



.userRegister {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;


  @include responsiveness.small{
    padding: 20px;
  }


  .register-card {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    text-align: center;


    @include responsiveness.small{
      width: 80%;
    }
  
    @include responsiveness.medium{
        width: 70%;
    }

    .exit{
      position: absolute;
      top : 20px;
      left: 20px;

      img{
        height:30px;
        width: 30px;

        @include responsiveness.small{
          height: 20px;
          width: 20px;
        }
      }
    }





    h1 {
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 8px;
      margin-top: 10px;
      color: #231839;


      @include responsiveness.small{
        font-size: 20px;
      }
    }

    .subtitle {
      font-size: 14px;
      color: #666;
      margin-bottom: 25px;

      @include responsiveness.small{
        font-size: 12px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: left;



      label {
        font-size: 15px;
        font-weight: 500;
        color: #231839;

        @include responsiveness.small{
          font-size: 12px;
          margin-bottom: 5px;
        }
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      input {
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 16px;
        transition: all 0.3s ease;
        box-sizing: border-box;

        @include responsiveness.small{
          width: 100%;
          font-size: 12px;
        }

        &:focus {
          box-shadow: 0 0 3px black;
          outline: none;
        }
      }
      .names {
        display: flex;
        gap: 10px;

        .name {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }


      .error {
        color: #e63946;
        font-size: 12px;
        margin-top: 4px;
      }

  
      .success {
        color: #2a9d8f;
        font-weight: 700;
        margin-top: 15px;
        font-size: 12px;
      }
      .fail {
        color: #e63946;
        margin-top: 15px;
        font-weight: 700;
        font-size: 12px;
      }


      .password-input {
        display: flex;
        align-items: center;
        position: relative;

        input {
          flex: 1;
          padding-right: 35px;
        }

        .toggle-icon {
          position: absolute;
          right: 10px;
          cursor: pointer;
          color: #666;
          transition: 0.2s;

          &:hover {
            color: #4081b8;
          }
        }
      }
      .divider {
        display: flex;
        align-items: center;
        text-align: center;
        color: #888;
        font-size: 13px;

        span {
          padding: 0 12px;
          font-weight: 500;
          font-size: 16px;
        }
      }

    .divider::before,
    .divider::after {
      content: "";
      flex: 1;
      height: 1px;
      background: #ddd;
    }

      button {
        background-color: #fff;
        border: 1px solid black;
        color: black;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        &:hover {
          background: black;
          color: white;       
        }

        img{
          height: 25px;
          width: 25px;
        }
      }
    }

    .login-text {
      margin-top: 20px;
      font-size: 14px;
      color: #444;

      a {
        color: #4081b8;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .footer {
      margin-top: 10px;
      font-size: 12px;
      color: #999;
    }
  }


}
