@use "../../../../../styles/responsiveness.scss";




.mainlist{

    h2{
        margin-bottom: 20px;

        @include responsiveness.small{
            margin-bottom: 10px;
            font-size: 14px;
        }
    }

    p{
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 1.6;
        color: #4a5566;

            @include responsiveness.small{
                font-size: 12px;
                margin-bottom: 10px;
            }
            @include responsiveness.medium{
                font-size: 16px;
            
            }           
    }




     ol{
               counter-reset: my-counter;
                list-style: none;
                padding: 0;

           

            li{
                counter-increment: my-counter;
                position: relative;
                padding-left: 30px;
                margin: 20px 0;
                font-size: 18px;
                 color: #4a5566;
                 line-height: 1.6;
                 list-style-type: none;

                 @include responsiveness.small{
                    font-size: 12px;
                    padding-left: 20px;
                    margin: 10px;
                 }
                 @include responsiveness.medium{
                    font-size: 16px;
                    padding-left: 25px;
                 }


                &::before{
                      content: counter(my-counter);
                        position: absolute;
                        left: 0;
                        top: 3px;
                        width: 20px;
                        height: 20px;
                        background-color: #01a976;
                        color: white;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 20px;
                        font-weight: bold;
                        font-size: 14px;


                        @include responsiveness.small{
                            font-size: 10px;
                            line-height: 15px;
                            width: 15px;
                            height: 15px;
                        }
                      @include responsiveness.medium{
                            font-size: 12px;
                        }
                }

            }
     }
}