@use "../../../styles/responsiveness.scss";

.plans {
  padding: 50px;
  background: #f9fafb;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
  height: 100vh;


    @include responsiveness.small{
        gap: 0;
    }


    .header{

        h1{
            color: black;
            font-size: 36px;

            @include responsiveness.small{
                font-size: 24px;
            }
        }
        
    }

.plans-wrapper  {
    display: flex;
    align-items: center;
     justify-content: space-around;
     padding: 20;

    &.lg{

        display: flex;

        @include responsiveness.small{
            display: none;
        }
          @include responsiveness.medium{
            display: none;
        }
    }

    &.sm{

        display: none;

        @include responsiveness.small{
            display: flex;
        }
        @include responsiveness.medium{
            display: flex;}
    }


    @include responsiveness.small {
        height: 100vh;
    }
    @include responsiveness.medium{
        height: 50vh;
    }
}



   .planCard {
     background: #ffffff;
     border: 1px solid #e5e7eb;
     border-radius: 16px;
     padding: 20px 50px;
     text-align: center;


     @include responsiveness.small{
       padding: 20px;
     }

  

     h3 { 
       color: #16a34a; 
       margin-bottom: 15px; 
       font-size: 24px;
       font-weight: 600;

       @include responsiveness.small{
         font-size: 20px;
       }
     }

     ul { 
       text-align: center; 
       margin-bottom: 20px; 

       li { 
         color: #374151; 
         font-size: 18px;
         list-style-type: none;
         padding: 10px;

        @include responsiveness.small{
           font-size: 14px;
         }
       } 
     }

     .subscribeBtn {
       display: inline-block;
       background: #16a34a;
       color: white;
       padding: 10px 20px;
       border-radius: 10px;
       font-weight: 600;
       text-decoration: none;

     }
   }
 }
