@use "../../../styles/responsiveness.scss";



.services{
    height: 100vh;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 20px;

    h1{
        color: black;
    }

    @include responsiveness.small{
        height: 100%;
        gap: 50px;
        padding: 20px;
    }


    .service-wrapper{
        display: grid;
        gap: 30px;
       grid-template-columns: 1fr 1fr 1fr 1fr;


       @include responsiveness.small{
        display: grid;
        grid-template-columns: 1fr;
       }


        @include responsiveness.medium{
             display: grid;
             grid-template-columns: 1fr 1fr;
        }
    }

    .serviceCard{
        display: flex;
        flex-direction: column;
        gap : 20px;
        align-items: center;
        text-align: center;
        line-height: 1.6;


        h3{
            color: black;
    
        }
        p{
            font-size: 16px;

            @include responsiveness.small{
            font-size: 14px;
            line-height: 1.6;
            }

        }
     

        img{
            height: 50px;
            width: 50px;
        }
    }
}