@use "../../../styles/responsiveness.scss";



.services{
    height: 100vh;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;

    h1{
        color: black;
    }


    .service-wrapper{
        display: flex;
        justify-content: space-around;
        gap: 20px;
        width: 100vw;



        @include responsiveness.small{
            flex-direction: column;
        }
    }

    .serviceCard{
        display: flex;
        flex-direction: column;
        gap : 10px;
        align-items: center;
        text-align: center;
        max-width: 350px;

        img{
            height: 50px;
            width: 50px;
        }
    }
}