@use "../../../../styles/responsiveness.scss";

.dashboard {
  padding: 50px 20px;
  background: #f9fafb;
  color: #1f2937;

 


  .welcomeCard {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 20px 30px 50px;
    text-align: center;
    margin-bottom: 50px;
    

    @include responsiveness.small{
      padding: 20px;
      margin-bottom: 20px;
    }

    h1 {
      color: #22c55e;
      font-size: 24px;
      margin-bottom: 10px;

      @include responsiveness.small{
        font-size: 18px;
      }
    }

    p {
      color: #4b5563;
      font-size: 18px;
      line-height: 1.6;

      @include responsiveness.small{
        font-size: 12px;
      }
    }
  }

  .finances{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;

    @include responsiveness.small{
      gap: 10px;
    }


    .financeCard {
      background: #ffffff;
      width: 200px;
      border-radius: 12px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      transition: transform 0.2s ease, box-shadow 0.2s ease;

      @include responsiveness.small{
        width: 100px;
        padding: 15px 10px;
      }


      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
      }

      .icon {
        font-size: 30px;
        color: #22c55e;

        @include responsiveness.small{
          font-size: 20px;
        }
      }

      h2 {
        font-size: 20px;
        color: #111827;

        @include responsiveness.small{
          font-size: 14px;
        }
      }

      p {
        font-size: 18px;
        color: #6b7280;

        @include responsiveness.small{
          font-size: 14px;
        }
      }
    }
  }
}
