@use "../../../styles/responsiveness.scss";


.userLogin {
  color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  .login-card {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    width: 30%;
    text-align: center;

    @include responsiveness.small{
        width: 80%;
    }
    @include responsiveness.medium{
        width: 50%;
    }

    .exit{
      position: absolute;
      top : 20px;
      left: 20px;

      img{
        height:30px;
        width: 30px;

        @include responsiveness.small{
          height: 20px;
          width: 20px;
        }
      }
    }

    .title {
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 8px;

      @include responsiveness.small{
        font-size: 18px;
      }
    }

    .subtitle {
      font-size: 16px;
      color: #666;
      margin-bottom: 30px;

      @include responsiveness.small{
        font-size: 12px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

 

      .inputGroup {
        display: flex;
        flex-direction: column;
        text-align: left ;
        gap: 10px;
    

        label {
          font-size: 15px;
          font-weight: 500;
          color: #231839;

          @include responsiveness.small{
            font-size: 12px;
            margin-bottom: 5px;
          }
        }

        input {
          width: 100%;
          padding: 20px;
          box-sizing: border-box;
          border-radius: 8px;
          border: 1px solid #ccc;
          font-size: 16px;
          transition: border 0.2s, box-shadow 0.2s;

          @include responsiveness.small{
            padding: 10px;
            font-size: 12px;
          }

          &:focus {
            box-shadow: 0 0 3px black;
            outline: none;
          }
        }
      }

      .passwordInput {
        position: relative;
        width: 100%;

        .toggleIcon {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          color: #666;

          &:hover {
            color: #4081b8;
          }
        }
      }

      .error {
        color: #e63946;
        font-size: 14px;


        @include responsiveness.small{
            font-size: 12px;
        }
      }

      .divider {
        display: flex;
        align-items: center;
        text-align: center;
        color: #888;
        font-size: 13px;

        span {
          padding: 0 12px;
          font-weight: 500;
          font-size: 16px;
        }
      }

    .divider::before,
    .divider::after {
      content: "";
      flex: 1;
      height: 1px;
      background: #ddd;
    }

      button {
        background-color: #fff;
        border: 1px solid black;
        color: black;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        &:hover {
          background: black;
          color: white;       
        }

        img{
          height: 30px;
          width: 30px;
        }
      }

      .extraLinks {
        font-size: 14px;
        margin-top: 10px;


        @include responsiveness.small{
            font-size: 12px;
        }

        p{
            margin-bottom: 20px;

            @include responsiveness.small{
                margin-bottom: 10px;
            }
        }

        .link {
          color: #4081b8;
          font-weight: 500;
          text-decoration: none;
          margin-bottom: 50px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    footer {
      font-size: 12px;
      color: #999;
      margin-top: 20px;
    }
  }
}
 
