@use "../../../styles/responsiveness.scss";


.reason2{
    color: black;
    padding: 50px 20px;

    @include responsiveness.small{
        padding: 20px 5px;
    }
    @include responsiveness.medium{
        padding: 20px;
    }


    .top{

        h1{
            text-align: center;
            margin-bottom: 20px ;
            font-size: 24px;

            @include responsiveness.small{
                font-size: 16px;  
            }

            @include responsiveness.medium{
                font-size: 22px;
            }
        }
        p{
            line-height: 1.6;
            margin-bottom: 20px;
            font-size: 18px;

            @include responsiveness.small{
                font-size: 12px;
            }
            @include responsiveness.medium{
                font-size: 16px;
            }

          
        }
   

        .body{
            color: #807f7e;
            display: flex;
            gap: 20px;

            @include responsiveness.small{
                flex-direction: column;
                gap: 10px;
            }

        

            .left{
                flex: 1;

            }
            .right{
                flex: 1;
            }
        }
    }

    .middle{

        h1{
            margin-bottom: 20px;
            font-size: 24px;

            @include responsiveness.small{
                font-size: 18px;
            }

            @include responsiveness.medium{
                font-size: 22px;
            }
        }
        
        p{
            margin-bottom: 20px;
            line-height: 1.6;
            color: #807f7e;
            font-size: 18px;

            @include responsiveness.small{
                font-size: 12px;
            }

            @include responsiveness.medium{
                font-size: 16px;
            }
        }
        h3{
            color: #01a876 ;
            font-size: 22px;

            @include responsiveness.small{
                font-size: 16px;

            }

            @include responsiveness.medium{
                font-size: 20px;
            }
        }

        .body{
            display: flex;
            gap: 20px;

            @include responsiveness.small{
                flex-direction: column;
            }
            
            .heading{
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 20px;

                
                @include responsiveness.small{
                    gap: 5px;
                    margin-bottom: 10px;
                }
           

                img{
                    width: 50px;

                    @include responsiveness.small{
                        width: 30px;
                    }
                
                }
            }

            .left{
                flex: 1;

                @include responsiveness.medium{
                    flex: 2;
                }
            }
            .middle{
                flex: 1;
            }
            .right{
                flex: 1;
            }


        }
    }
    .bottom{

        img{
            width: 100%
        }
    }



}