@use "../../../styles/responsiveness.scss";

.passwordReset {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .reset-card {
    background: #fff;
    padding: 30px 100px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    width: 30%;
    text-align: center;

    @include responsiveness.small{
        width: 80%;
    }
    @include responsiveness.medium{
        width: 60%;
    }

    .title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #333;

      @include responsiveness.small{
        font-size: 20px;
      }
    }

    .subtitle {
      font-size: 14px;
      margin-bottom: 30px;
      color: #666;

      @include responsiveness.small{
        font-size: 10px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .inputGroup {
        text-align: left;

        label {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 20px;
          display: block;
          color: #333;

            @include responsiveness.small{
            font-size: 14px;
          }
        }

        input {
          width: 100%;
          height: 48px;
          padding: 20px;
          box-sizing: border-box;
          border-radius: 8px;
          border: 1px solid #ccd1d5;
          font-size: 16px;
          transition: border 0.2s, box-shadow 0.2s;
          box-sizing: border-box;

        @include responsiveness.small{
            padding: 10px;
            font-size: 12px;
          }

          &:focus {
            box-shadow: 0 0 3px black;
            outline: none;
          }
        }
      }

      .resetBtn {
      margin-top: 10px;
        background-color: #fff;
        border: 1px solid black;
        color: black;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        &:hover {
          background: black;
          color: white;       
        }
      }

      .loginLink {
        display: inline-block;
        margin-top: 10px;
        font-size: 14px;
        color: #4081b8;
        font-weight: 500;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    footer {
      font-size: 12px;
      color: #999;
      margin-top: 25px;
    }
  }

  @include responsiveness.small {
    .reset-card {
      padding: 25px 20px;

      .title {
        font-size: 20px;
      }

      .subtitle {
        font-size: 12px;
      }

      form {
        .resetBtn {
          font-size: 14px;
        }
      }
    }
  }
}
