
@use "../../../../styles/responsiveness.scss";

.calendarNav{
    padding: 20px 30px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    gap: 5px;

    @include responsiveness.small{
        padding: 10px;
    }

    @include responsiveness.medium{
        padding: 20px;
    }


    .link{
        display: flex;
        gap : 5px ;
        color : #01a876;

        P{
            font-size: 18px;

            @include responsiveness.small{
                font-size: 12px;
            }
            @include responsiveness.medium{
                font-size: 16px;
            }
          
        }

        & .icon{
            font-size: 18px;

            @include responsiveness.small{
                font-size: 12px;
            }
            @include responsiveness.medium{
                font-size: 16px;
            }
        }

    }

    span{
        color: #4a5566 ;
        font-size: 18px;

        @include responsiveness.small{
            font-size: 12px;
        }
          @include responsiveness.medium{
            font-size: 16px;
        }
    }
}

.calendar{
  
   color : black;
    display: flex;
    padding: 30px;
    gap: 30px;


    @include responsiveness.small{
        padding:10px;
        
    }
    @include responsiveness.medium{
        padding:20px;
        gap: 20px;
    }
  
  .main{

       flex : 4;
        display : flex;
        flex-direction: column;
        gap: 30px;

        @include responsiveness.small{
            width: 100%;
            flex: none;
            gap: 10px;
        }
          @include responsiveness.medium{
            flex: 2.5;
            gap: 30px;
        }

          h1{
            font-size: 26px;
            margin-bottom: 50px;

           @include responsiveness.small{
                font-size: 18px;
                margin-bottom: 20px;
            }
            @include responsiveness.medium{
                font-size: 24px;
                margin-bottom: 30px;
            }
        }

        h3{
            font-size: 24px;

        
             @include responsiveness.small{
                font-size: 16px;
            }
            @include responsiveness.medium{
                font-size: 20px;
            }
        }

        P{
            font-size: 18px;
            line-height: 1.6;
            color: #4a5566;

            @include responsiveness.small{
                font-size: 12px;
            }
            @include responsiveness.medium{
                font-size: 16px;
            }
        }
    

      .calendar-container {
        width: 50%;
        margin: auto;
        text-align: center;

        @include responsiveness.small{
          width: 90%;
        }
        @include responsiveness.medium{
          width: 100%;
        }
    }


    .calendar-box {
      box-shadow: 0px 0px 5px black;
      border-radius: 10px;
      margin-bottom: 20px;

    }

    .alarm{
        color: red;
        font-weight: 700;
        
    }


    .remind-button {
      margin-top: 50px;
      background-color: #00b16a;
      color: white;
      padding: 15px 35px;
      font-weight: bold;

      @include responsiveness.small{
        padding: 10px 25px;
        margin-top: 20px;
      }

      &:hover {
        background-color: #019a5d;
      }
}


}

   .side {

         flex: 1;

        h3 {
            font-size: 24px;

               @include responsiveness.medium{
                font-size: 22px;
            }
        }

        ul {
            list-style-type: none;

            li {
                margin: 40px 10px;
                font-size: 18px;
                
                 &.calendarClicked{
                    background-color: #d4d5e0;
                    border-left: 4px solid #555866;
                    padding: 10px;
                    color: #666973;

                }

                @include responsiveness.medium{
                    margin: 25px 5px;
                    font-size: 16px;
                }

            }
        }
    }




}


