@use "../../../../styles/responsiveness.scss";

.contact {
  display: flex;
  gap: 20px;
  padding: 50px;

  @include responsiveness.small{
    flex-direction: column;
    padding: 20px 10px;
  }
    @include responsiveness.medium{
    flex-direction: column;
    padding: 50px 10px;
  }



  .contact-left {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    font-size: 18px;
    height: 100%;


    @include responsiveness.small{
      padding: 20px;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      color: #1f2937;

      @include responsiveness.small{
        font-size: 18px;
      }
    }

    .intro {
      font-size: 12px;
      color: #6b7280;
      margin-bottom: 30px;

      @include responsiveness.small{
        font-size: 12px;
      }
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include responsiveness.small{
        gap: 10px;
      }

      label {
        font-weight: 600;
        font-size: 18px;
        color: #374151;

        @include responsiveness.small{
          font-size: 12px;
        }
      }

      input,
      .textArea {
        padding: 20px;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        font-size: 18px;
        outline: none;
        transition: border 0.2s;

        @include responsiveness.small{
          font-size: 12px;
        }

        &:focus {
          border: 1px solid #6366f1;
          box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
        }
      }

      .textArea {
        height: 120px;
        resize: none;
      }

      button {
        background: #4f46e5;
        color: #fff;
        padding: 15px;
        border: none;
        border-radius: 8px;
        font-weight: 500;
        cursor: pointer;
        transition: all ease-in .2s;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 18px;

        @include responsiveness.small{
          font-size: 12px;
        }
        
        &:hover {
          font-size: 18px;
          background: #4338ca;

          @include responsiveness.small{
            font-size: 12px;
          }
        }
      }

      .status {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 600;
        color: #16a34a; 

        @include responsiveness.small{
          font-size: 12px;
          margin-top: 5px;
        }
      }
    }
  }

  .contact-right {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    height: 100%;
 

    @include responsiveness.small{
      padding: 20px;
    }


    h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
      color: #1f2937;

      @include responsiveness.small{
        font-size: 16px;
      }
    }

    .accordion {
      margin-bottom: 20px;
      border-radius: 8px;
      box-shadow: none;
      border: 1px solid #e5e7eb;

      @include responsiveness.small{
        margin-bottom: 10px;
      }

      .accordionText{
        
        @include responsiveness.small{
            font-size: 14px;
        }
      }

      .MuiAccordionSummary-root {
        font-weight: 600;
        color: #374151;
        font-size: 18px;

        @include responsiveness.small{
          font-size: 12px;
        }
      }

      .MuiAccordionDetails-root {
        font-size: 18px;
        color: #6b7280;
        line-height: 1.6;

         @include responsiveness.small{
          font-size: 12px;
        }
      }
    }
  }
}
