@use "../../../styles/responsiveness.scss";


.globalMarkets{

   display: flex;

   @include responsiveness.small{
    flex-direction: column;
   }



   .markets{
     flex: 1;
     background-color: #1c1b21;
     padding: 100px 25px 50px 100px;

     @include responsiveness.small{
        padding: 50px 20px;
     }

     @include responsiveness.medium{
        padding: 50px 20px;
     }

     h1{
        margin-bottom: 50px;
        color: #fff;

        @include responsiveness.small{
            font-size: 20px;
        }
        @include responsiveness.medium{
            font-size: 22px;
        }
     }

     ul{
        display: flex;
        justify-content: space-around;
        width: 80%;


        li{
            list-style-type: none;
            cursor: pointer;

            &.active{
                color: #01a876;
            }  
   
        }
        
  
     }

     .main{
        margin-top: 30px;
        margin-bottom: 50px;

        @include responsiveness.small{

        }

     }

     .button{
        color : #fff ; 
        font-size: 18px;
        padding : 20px;
        border-radius: 10px;
        background-color: #01a976;
        border: none;

        @include responsiveness.small{
            font-size: 14px;
            padding: 10px;
        }
      

        &:hover{
            background-color: #1c1b21;
            border: 2px solid #01a976;
        }
     }


   }


   .advantages{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #282830;
    padding: 100px 50px;
    gap: 120px;

    @include responsiveness.small{
        padding: 100px 20px;
        gap:50px;
    }

       @include responsiveness.medium{
        padding: 50px 20px;
        gap: 100px;
    }
   

    h1{
        color: #fff;
        @include responsiveness.small{
            font-size: 18px;
        }
          @include responsiveness.medium{
            font-size: 22px;
        }
    }




    .advantagesBody{
        font-size: 28px;
        line-height: 1.6;


        @include responsiveness.small{
            font-size: 14px;
        }

        @include responsiveness.medium{
            font-size: 22px;
        }

    }
}

}