@use "../../../styles/responsiveness.scss";

//Testimonials Section


.testimonials{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding: 10px;
    justify-content: center;
    gap: 50px;

    @include responsiveness.small{
        gap: 0;
    }


    .header{

        h1{
            color: black;
            font-size: 36px;

            @include responsiveness.small{
                font-size: 24px;
            }
        }
        
    }
}
.testimonials-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: space-around;
    padding: 20;

    &.lg{

        display: flex;

        @include responsiveness.small{
            display: none;
        }
          @include responsiveness.medium{
            display: none;
        }
    }

    &.sm{

        display: none;

        @include responsiveness.small{
            display: flex;
        }
        @include responsiveness.medium{
            display: flex;}
    }


    @include responsiveness.small {
        height: 100vh;
    }
    @include responsiveness.medium{
        height: 50vh;
    }
}

.nav-btn {
  position: absolute;
  z-index: 10;
  background: white;

  &:hover {
    background: #f5f5f5;
  }
}




// Each Testimonial


.avatar-wrapper {
  position: absolute;
  top: 40px;            // moves avatar up, overlapping the card
  left: 50%;
  transform: translateX(-50%);
  width: 80px;           // avatar size
  height: 100px;
  border-radius: 50%;    // perfect circle
  overflow: hidden;
  border: 4px solid white; // optional border
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  background-color: #fff; // fallback if image has transparency
}


.avatar {
  width: 100%;
  height: 100;
  object-fit: cover;
}



.name{
    font-size: 20px !important;
    color: black;

    @include responsiveness.small{
        font-size: 18px !important;
    }
    
}
.designation {
    font-size: 16px  !important;
    color: #1f1f20;
    padding: 20px;
    

    @include responsiveness.small{
        font-size: 14px;
    }
}

.comment {
    font-size: 16px  !important;
    color: #55565B;
        font-style: italic;


    @include responsiveness.small{
        font-size: 14px;
    }
}