@use "../../../../styles/responsiveness.scss";

.depositWithdrawal {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  flex-wrap: wrap; 


  @include responsiveness.small{
      flex-direction: column;
      align-items: center;

      padding: 50px 20px;
      gap: 50px;
  }

  @include responsiveness.medium{
    flex-direction: column;
    align-items: center;
    gap: 100px;

  }


  .card{
    width: 40%;
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
    height: 100%;


    @include responsiveness.small{
      width: 80%;
    }  
     @include responsiveness.medium{
      width: 60%;
    }  

    &:hover {
      transform: translateY(-6px);
    }

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #1e293b;
      text-align: center;

      @include responsiveness.small{
        font-size: 18px;
      }
    }
    .input-group {

      display: flex;
      align-items: center;
      border: 1px solid #d0d7de;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 20px;

      span {
        padding: 15px;
        background: #f3f4f6;
        font-weight: bold;
        color: #374151;
        border-right: 1px solid #d0d7de;
      }


      input::-webkit-inner-spin-button , 
      input::-webkit-outer-spin-button{
        -webkit-appearance: none;
      }

      input {
        padding: 10px;
        font-size: 18px;
        border: none;
        outline: none;
        width: 100%;

        @include responsiveness.small{
          font-size: 12px;
          padding: 5px;
        }

        &:focus {
          background: #f9fafb;
        }
      }

    }
    button {
      width: 100%;
      padding: 15px;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease;

      @include responsiveness.small{
        font-size: 12px;
        padding: 10px;
      }

      &.deposit-btn {
        background:  #059669;
        color: #fff;

        &:hover {
          background: #047857;
        }
      }

      &.withdraw-btn {
        background: #ef4444;
        color: #fff;

        &:hover {
          background: #b91c1c;
        }
      }
  }

  .payment-options {
    margin-top:50px;

    @include responsiveness.small{
      margin-top: 20px;
    }

    h3 {
      margin-bottom: 20px;

      @include responsiveness.small{
        font-size: 16px;
      }
    }

    .options-grid {
  
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap:20px;
  
    }

    .option-card {
      display: flex;
      align-items: center;
      gap: 10px;
      background: #fff;
      padding: 10px;
      border-radius: 12px;
      cursor: pointer;
      font-weight: 500;
      color : #1e293b;
      width: 150px;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
      transition: 0.3s;

      @include responsiveness.medium{
        padding: 10px;
      }

      &:hover {
        background: #1e90ff;
        color: white;
        transform: translateY(-5px);
      }

      img{
        height: 30px;
        width: 30px;
      }
    }}


    .option-card.recommended {
      border: 2px solid #f59e0b; 
      position: relative;
    }

    .option-card .badge {
      position: absolute;
      top: 6px;
      right: 10px;
      background: #f59e0b;
      color: #fff;
      font-size: 10px;
      padding: 2px 6px;
      border-radius: 5px;
    }

  }
  
  .confirmation {
      width: 80%;
      text-align: center;
      margin-top: 20px;

      p {
        display: inline-block;
        background: #e0f7ec;
        color: #065f46;
        padding: 10px;
        border-radius: 5px;
        font-weight: 500;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
        animation: fadeIn 0.3s ease-in-out;
        font-size: 18px;

          @include responsiveness.small{
            font-size: 12px;
      }

  
      }
    }


    .btc-address {
      margin-top: 10px;
      background: #f9fafb;
      padding: 10px;
      border-radius: 10px;
      color: #111827;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
      font-size: 18px;

   

      span {
        display: block;
        font-weight: 700;

        @include responsiveness.small{
          font-size: 14px;
        }
      }

      .address-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-top: 20px;

        p {
          font-size: 18px;
          border-radius: 5px;
          padding: 15px;
          word-break: break-all;
          width: 100%;

          @include responsiveness.small{
            font-size: 12px;
            padding: 5px;

          }

        }

        button {
          background: #1e90ff;
          border: none;
          border-radius: 5px;
          padding: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.2s;

          @include responsiveness.small{
            padding: 5px;
          }

          svg {
            color: white;
          }

          &:hover {
            background: #0d6efd;
          }
        }
      }
}
  }