@use "../../../../styles/responsiveness.scss";


.packages {
  padding: 50px;
  background: #f9fafb;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  gap: 20px;


  @include responsiveness.small{
    padding: 50px 20px;
  }


  h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
    color: #111827;

    @include responsiveness.small{
      font-size: 20px;
    }
  }

  .subtitle {
    text-align: center;
    font-size: 18px;
    color: #6b7280;
    margin-bottom: 20px;

    @include responsiveness.small{
      font-size: 12px;
    }
  }
  .package-wrapper  {
    display: flex;
    align-items: center;
     justify-content: space-around;
     padding: 20px;

    &.lg{

        display: flex;

        @include responsiveness.small{
            display: none;
        }
          @include responsiveness.medium{
            display: none;
        }
    }

    &.sm{

        display: none;

        @include responsiveness.small{
            display: flex;
            justify-content: center;
           
       }
        
        @include responsiveness.medium{
            display: flex;
            justify-content: center;
            width: 50%;
            margin: 0 auto;

        }
    }


    

}



   .packageCard {
     background: #ffffff;
     border: 1px solid #e5e7eb;
     border-radius: 16px;
     padding: 20px 50px;
     text-align: center;
    

     @include responsiveness.small{
       padding: 50px 30px;
     }
       @include responsiveness.medium{
       padding: 50px 0px;
     }
 
  

  

     h3 { 
       color: #16a34a; 
       margin-bottom: 15px; 
       font-size: 24px;
       font-weight: 600;

       @include responsiveness.small{
         font-size: 20px;
       }
     }

     ul { 
       text-align: center; 
       margin-bottom: 20px; 

       li { 
         color: #374151; 
         font-size: 18px;
         list-style-type: none;
         padding: 10px;

        @include responsiveness.small{
           font-size: 14px;
         }
       } 
     }

     .subscribeBtn {
       display: inline-block;
       background: #16a34a;
       color: white;
       padding: 10px 20px;
       border-radius: 10px;
       font-weight: 600;
       text-decoration: none;

     }
   }

  }



