@use "../../../../styles/responsiveness.scss";


.packages {
  padding: 50px;
  background: #f9fafb;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  gap: 20px;


  @include responsiveness.small{
    padding: 50px 20px;
  }
  .balanceBox {
    text-align: center;

    h2 {
      font-size: 18px;
      color: #fff;
      background: #16a34a;
      display: inline-block;
      padding: 12px 24px;
      border-radius: 12px;
      font-weight: 600;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

      @include responsiveness.small{
        font-size: 14px;
      }
    }
  }

  h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
    color: #111827;

    @include responsiveness.small{
      font-size: 20px;
    }
  }

  .subtitle {
    text-align: center;
    font-size: 18px;
    color: #6b7280;
    margin-bottom: 20px;

    @include responsiveness.small{
      font-size: 12px;
    }
  }

  .plansGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;

    @include responsiveness.small{
      flex-direction: column;
    }
  }

  .planCard {
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    padding: 20px 50px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: transform 0.25s ease, box-shadow 0.25s ease;

    @include responsiveness.small{
      padding: 20px;
    }

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    }

    h3 { 
      color: #16a34a; 
      margin-bottom: 15px; 
      font-size: 24px;
      font-weight: 600;

      @include responsiveness.small{
        font-size: 20px;
      }
    }

    ul { 
      text-align: center; 
      margin-bottom: 20px; 

      li { 
        color: #374151; 
        font-size: 18px;
        list-style-type: none;
        padding: 10px;

        @include responsiveness.small{
          font-size: 12px;
        }
      } 
    }

    .subscribeBtn {
      display: inline-block;
      background: #16a34a;
      color: white;
      padding: 10px 20px;
      border-radius: 10px;
      font-weight: 600;
      text-decoration: none;
      transition: background 0.3s ease;

      &:hover { 
        background: #13af4c; 
      }
    }
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;


}

.modalBox {
  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  width: 30%;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);

  @include responsiveness.small{
      width: 50%;
      padding: 20px 10px;
  }

  h2 {
    color: #16a34a;
    margin-bottom: 10px;
    font-size: 18px;

    @include responsiveness.small{
      font-size: 14px;
    }

    &.failed{
      color: rgb(196, 36, 36);
    }
  }

  p {
    margin-bottom: 15px;
    color: #374151;
    font-size: 18px;

    @include responsiveness.small{
      font-size: 12px;
      margin-bottom: 20px;
    }
  }

  .closeBtn {
    background: #16a34a;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;


    @include responsiveness.small{
      padding: 10px;
      font-size: 12px;
    }

    &:hover {
      background: #13af4c;
    }
  }
}
