*{
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  color: white;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: none;
  font-family: 'Futura PT', 'Open Sans', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}


